.navbar-other{
  position: relative;
  background-color: #fff;
  color: #ffffff;
}
.product-details{
  text-align: center;
  margin:50px auto;
  background-color: #fff;
  padding: 20px;
}
.loding-details{
  color: #000;
  font-size: 15px;
}
.product-details img{
  width: 400px;
  margin-bottom: 50px;
}
.h2-product-detalis{
    font-weight: bold;
    font-size: 20px;
  }

.p-product-detalis{
    font-size: 15px;
    font-weight: normal;
    color: #707070;
    margin-bottom: 50px;
  }

  .price-product-detalis{
    font-size: 40px;
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 50px;
  }
  .product-details .btn-pro-details{
    background-color: #28a9ff;
    border: none;
    color: #fff;
    padding: 5px;
    width: 200px;
    transition: .3s;
    margin-top: 50px;
  }

  .product-details .btn-pro-details:hover{
    background-color: #3247bd;
  }

  .count-product-detalis{
    font-size: 20px;
  }
  .btn-count{
    background-color: #28a9ff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 25px;
    border: none;
    margin: 0 40px;
    transition: .3s;
  }

  .btn-count:hover{
    background-color: #3247bd;
  }

  @media (max-width : 900px){
    .product-details img {
        width: 150px;
        height:200px;
        margin-bottom: 50px;
      }

     .price-product-detalis {
        font-size: 20px;
        font-weight: bold;
        color: #000;
        display: block;
        margin-bottom: 50px;
      }

      .btn-count {
        background-color: #28a9ff;
        color: #fff;
        font-size:10px;
        font-weight: bold;
        padding: 2px 10px;
        border: none;
        margin: 0 40px;
        transition: .3s;
      }

    .count-product-detalis {
      font-size: 15px;
    }
  }

.loding-details {
  margin: 150px auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #28a9ff;
  border-right-color: #3247bd;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}