.navbar-other{
    position: relative;
    background-color: #fff;
    color: #ffffff;
}
.navbar-other .nav-link{
    color: #000000;
    margin-left: 10px;
  }
  .navbar-other .navbar-brand {
    color: #000000;
    font-size: 40px;
    margin-left: 70px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.product-acc{
    margin-bottom: 200px;
    margin-top: 100px;
    padding-top: 50px;
    background-color: #f5f3f3;
}
.product-acc-h1{
    color: #000;
    margin-top: 0;
    animation: none;
    opacity: 1;
    margin-bottom: 50px;
    font-weight: normal;
}
.product-acc-p{
    color: #4b4b4b;
    margin-top: 0;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 100px;
    line-height: 2.5;
}
.link-product-acc{
    width: 100%;
    height: 300px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: space-between;
    text-align: left;
    cursor: pointer;
    position: relative;
}
.link-product-acc:hover a{
    opacity: 1;
    visibility: visible;
}
.link-product-acc .parint{
    width: 100%;
    height: 100%;
}

.link-product-acc .pro-caption{
   overflow: hidden;
}
.link-product-acc .pro-caption h4{
    margin-top: 10px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.link-product-acc .pro-caption:hover h4{
    text-overflow: clip;
    text-wrap: wrap;
}
.link-product-acc .pro-caption svg{
    font-size: 12px;
    margin-top: 0;
}
.link-product-acc a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.link-product-acc a svg{
  font-size:20px;
  color: #000;
}
.link-product-acc .span{
    position: absolute;
    top: 15px;
    right: 60px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: none;
}

.link-product-acc .show-span{
    display: block;
}
.link-product-acc .span::after{
    content: "";
    position: absolute;
    top: 15px;
    right: -12px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #000000;
}
.link-product-acc img{
    width: 100%;
    height: 100%;
}

.price{
    color: #5c5c5c;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

@media (max-width:540px){
    
    .link-product-acc{
        width: 100%;
        height: 200px;
        margin-bottom: 120px;
    }
    .link-product-acc .pro-caption h4{
        font-size: 10px;
    }
    .link-product-acc .price{
        font-size: 15px;
    }
    .link-product-acc a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 15px;
        background-color: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
    }
    .link-product-acc a svg{
      font-size:15px;
      color: #000;
    }
    .link-product-acc .span{
        position: absolute;
        font-size: 10px;
        padding: 7px;
        right: 45px;
        top: 20px;
    }
    .link-product-acc .span::after{
        content: "";
        border-width: 5px;
        position: absolute;
        top: 10px;
        right: -10px;
    }
    .product-acc-p{
        color: #4b4b4b;
        margin-top: 0;
        font-size: 10px;
        font-weight: normal;
        margin-bottom: 100px;
        line-height: 2;
    }
    .navbar-other .navbar-brand {
        color: #000000;
        font-size: 40px;
        margin-left: 5px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
}
@media (min-width:541px) and (max-width:720px){

    .link-product-acc{
        width: 100%;
        height: 250px;
        margin-bottom: 150px;
    }
    .navbar-other .navbar-brand {
        color: #000000;
        font-size: 40px;
        margin-left: 5px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media (min-width:721px) and (max-width:960px) {
  
    .link-product-acc{
        width: 100%;
        height: 300px;
        margin-bottom: 150px;
    }
   
}

